@{
    ViewData["Title"] = "Admin";
    var words = ViewBag.Words;
}
<h1>@ViewData["Admin"]</h1>

@if(words != null)
{
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Word</th>
            <th>Count</th>
        </thead>
        @foreach (var word in words)
        {
            <tr>
                <td>@word.Id</td>
                <td>@word.Value</td>
                <td>@word.Count</td>
            </tr>
        }
    </table>
}
else
{
    <div class="row">
        No words found in the database.
    </div>
}